body{ font-family: Oswald;
    color: black;
    background-image: url("../img/desktop-2325627_1920.jpg");
    height: 90%;
    width: 90%;
}

th, td, tr {
    padding: 5px;
    color: black;
    margin-bottom: 3px;
    border: 3px;
    font-family: Oswald;
    font-size: 18px;
}


.question_table tr:nth-child(odd){background-color: #F5E3DC}
.question_table tr:nth-child(even){background-color: #A0F6CF}
.question_table tr:hover {background-color: #CE9A9E;}

.button{
    background-color: #A0F6CF;
    color: black;
    padding: 7px 15px;
    text-align: center;
    font-size: 18px;
    margin: 2px 1px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    position:absolute;
    top: 40px;
    right: 100px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.70),0 17px 50px 0 rgba(0,0,0,0.65);
    font-family: Oswald;

}