<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Ask mate - list</title>
	<style>
		td {
			border: 1px solid #999;
			padding: 0.1em 1em;
		}
	</style>
</head>
<body>
    <h1>List question</h1>
    {%if username%}
    <p>Login as {{username}}<button type="submit"><a href="{{url_for('logout')}}">Logout</a></button> </p>

    {%else%}
    <p><button type="submit"><a href="{{url_for('register')}}">Register</a></button><button type="submit"><a href="{{url_for('login', invalid_login=invalid_login)}}">Login</a></button> </p>
    {%endif%}
    <div class="search">
    <form action="{{url_for('search_matching_questions', method='get')}}">
            <label for="search"></label>
            <input name="search" id="search" placeholder="Search...">
    </form>
    </div>
    <br>
    <div><button type="button"><a href={{url_for('add_question')}}> Add question</a></button>
    </div>
    <br>
    <div>
        {% for question in questions %}
        <table>
            <tr>

                <td><strong><a href="{{ url_for('display_question', question_id = question['id'] ) }}">{{question['title']}}</a></strong></td>
            </tr>
            <tr>
                <td>{{question['message']}}</td>
            </tr>
            <tr>
                <td>Votes: {{question.vote_number}}</td>
            </tr>

        </table>
        <br>
        {%endfor%}
    </div>
</body>
</html>