<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Ask mate - list</title>
	<style>
		td {
			border: 1px solid #999;
			padding: 0.1em 1em;
		}
	</style>
</head>
<body>
    <h1>List question</h1>
    <br>
    <div><button type="button"><a href={{url_for('add_question')}}> Add question</a></button>
    </div>
    <br>
    <div>
        {% for question in questions %}
        <table>
            <tr>

                <td><strong><a href={{ url_for('display_question', question_id = question['id'] ) }}>{{question['title']}}</a></strong></td>
            </tr>
            <tr>
                <td>{{question['message']}}</td>
            </tr>
        </table>
        <br>
        {% endfor %}
    </div>
</body>
</html>