<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New comment</title>
</head>
<body>

    {%if answer_id  %}
    <form action="{{url_for('add_comment_to_answer', answer_id=answer_id)}}" method="post">
        <label for="message">Your comment</label>
        <br><textarea id="message" cols="50" rows="20" name="message"></textarea>
        <input type="hidden" value="{{answer_id}}" name="answer_id">
        <br>
        <button type="submit">Save comment</button>
    </form>
    {%elif question_id %}
    <form action="" method="post">
        <label for="message_question">Your comment</label>
        <br><textarea id="message_question" cols="50" rows="20" name="message_question"></textarea>
        <input type="hidden" value="{{question_id}}" name="question_id">
        <br>
        <button type="submit">Save comment</button>
    </form>
    {%endif%}
    <br>
    <button type="button"><a href="{{url_for('list_page')}}">Main page</a></button>

</body>
</html>