<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update question</title>
</head>
<body>
    <div>
        <form action="{{url_for('update_question', question_id = question_id)}}" method="POST">
            <div>
                <label for="title">Title</label>
                <br>
                <textarea id="title" cols="50" rows="5" name="title">{{question_choose['title']}}</textarea>
            </div>
            <div>
                <br>
                <label for="message">Description</label>
                <br>
                <textarea id="message" cols="50" rows="5" name="message">{{question_choose['message']}}</textarea>
            </div>
            <input type="hidden" value="{{question_id}}" name="question_id">
            <br>
            <button type="submit">Save</button>
        </form>
        <button type="button"><a href="{{url_for('list_page')}}">Main page</a></button>
    </div>
</body>
</html>